*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header_link{
    display: flex;
    justify-content: center;
}

.container{
    font-family: "Roboto", sans-serif;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
}

.top_line{
    background-color: rgb(145, 199, 199);
    font-size: 12px;
    height: 85px;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-areas: 
    "nav1 logo nav2";
}

.nav1{
    grid-area: nav1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: start;
    margin: 25px;
}

.nav2{
    grid-area: nav1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: end;
    text-align: end;
    margin: 25px;
}

.basket{
justify-self: end;
}

.logo{
    display: grid;
    grid-area: logo;
    align-self: center;
    margin: 15px 25px;
}

.nav2{
    grid-area:nav2;
}

.banner{
    display: grid;
    background-image: url(assets/Header_background.png);
    height: 870px;
    font-family: "Roboto", sans-serif;

}

.text_block{
    float: left;
    width: 30vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, 1fr);
    gap: 30px;
    margin: 10% 10% 20%;
    color: white;
}

.title{
    font-size: 55px;
    font-weight: bold;
}

.text {
    font-size: 20px;
}

.black_button{
    background-color: black;
    padding: 20px 30px;
    color: white;
    
}

.cookies_disclaimer{
    display: grid;
    grid-template-columns: 70% 15% 15%;
    align-content: center;
    color: white;
    font-size: 16px;
    background-color: black;
    height: 72px;
    margin: 25px 0 0;
}

.learn_more{
    align-content: start;
}

.got_it{
    height: 150%;
    width: 70%;
    align-self: center;
    justify-self: center;
}